<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EFT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>076EEEB01C156B1C00CBC91F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>076EEEC91C156B1D00CBC91F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>076EEED41C156B1D00CBC91F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
